body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0%;
}

/* STYLE FOR HEADER */
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937; 
}

ul {
    list-style: none;
    padding: 0%;
    flex: auto;
    display: flex;
    gap: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    justify-self: flex-start;
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    padding: 20px;
    font-weight: bold;
}

.links {
    align-content: center;
    padding-right: 20px;
}

/* STYLE FOR FIRST SECTION */
.first-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex: 1 1 auto;
    padding: 50px;
    background-color: #1f2937;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
}

p.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 5px;
}

.first-section p.text {
    font-size: 18px;
    color: #e5e7eb;
}

div.first-section button{
    justify-self: flex-start;
    border-radius: 25px;
    border-color: #3882f6;
    font-weight: 800;
    width: 100px; height: 30px;
    background-color: #3882f6;
    color: #f9faf8;
}

div.first-section img {
    width: 300px; height: auto;
}

/* STYLE FOR SECOND SECTION */
.second-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 50px;
    gap: 20px;
    background-color: white;
}

.img-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

div.second-section img {
    max-width: 300px; height: auto;
}

.img-text-one,
.img-text-two,
.img-text-three,
.img-text-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.img-container p.text {
    text-align: center;
    width: 200px;
    margin: 5px 0;
}

div.second-section div.title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}